input {
     autocomplete: off;
}

iframe {
      display: none
}
body {
      background: #f7s;
      color: #fff;
      font-family: basic-sans, sans-serif;
      font-style: normal;
      font-weight: 200;
    }

h2 {
  font-weight: 100;
  font-family: basic-sans, sans-serif;
}

a {
  text-decoration: none;
  font-style: normal;
  font-weight: 200;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

    .container {
      width: 1000px;
      margin: 0 auto;
    }

    #title img{
      width: 450px;
      padding: 50px;
    }

    #subtitle{
      font-family: basic-sans, sans-serif;
      transform: skew(-6deg);
      font-weight: 900;
      text-transform: Uppercase;
      font-size: 55px;
      margin-left: 50px;
      width: 700px;
      margin-top: -20px;
    }

    #login_link{
      margin-left: 780px;
      position: fixed;
      margin-top: 52px;
      font-size: 14px;
      opacity: .6;
    }

    #login_link a {
      font-weight: 100;
      font-family: basic-sans, sans-serif;
      color: #fff;
      text-decoration: none;
    }

    #login_link a:hover {
      font-weight: 100;
      font-family: basic-sans, sans-serif;
      color: #fff;
      text-decoration: underline;
    }

    #butt {
      font-family: basic-sans, sans-serif;
      font-size: 20px;
      border: 1px solid white;
      background-color: black;
      color: white;
      border-radius: 20px;
      margin-left: 50px;
      margin-top: 20px;
      width: 200px;
    }

    #butt:hover {
      background-color: white;
    }

    .btn-spotify {
	    font-size: 20px;
	    background-color: #1DB954;
	    color: white;
	    border-radius: 20px;
	    margin-top: -10px;
	    padding: 10px;
	    text-decoration: none;
	    display: inline-block;
    }

    #swirly img{
      width: 100vw;
      position: fixed;
    }

    #user_inputs {
      margin-left: 70px;
    }

    #user_inputs input {
      border: none;
      background: black;
      border-bottom: 1px dashed #FFFFFF;
      margin-bottom: 10px;
      width: 140px;
      color: #FFF;
    }

    #user_inputs button {
      font-family: basic-sans, sans-serif;
      font-size: 15px;
      border: 1px solid white;
      background-color: black;
      color: white;
      border-radius: 20px;
      margin-top: 10px;
      width: 100px;
    }

    #user_inputs button:hover {
      background-color: white;
    }

    #already_registered {
      opacity: .7;
      font-size: 18px;
    }

    #error{
      margin-left: 50px;
    }

    #welcome{
      margin-left: 50px;
    }
